img.circle.avatar {
    width: 32px;
    height: 32px;
}
avatar-user{
    position: absolute;
    padding: 5px;
}
nav.brand-title{
    position: relative;
    padding-left: 40px;
}

th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

.mdl-data-table tbody tr {
    height: 20px;
!important;
}

.mdl-data-table tbody tr {
    height: 30px; !important;
}

.mdl-data-table th {
    line-height: 25px; !important;
}

.modal { width: 95% !important ; height: 95% !important ; }